@media (min-width: 992px) {
  .presentation .triggers *, .presentation .events *, .presentation .httptests * {
    font-size: 1.1rem;
  }

  .presentation .alerts * {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .presentation .triggers *, .presentation .events *, .presentation .httptests * {
    font-size: 1.4rem;
  }

  .presentation .alerts * {
    font-size: 1.8rem;
  }
}

.events-row {
  padding: 4px;
  color: #FFFFFF;
}

.event-badge {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.event-status-resolved {
  background-color: #00AA00;
}

.event-status-problem {
  background-color: #DC0000;
}

.httptests-row {
  padding: 4px;
  color: #FFFFFF;
}

.httptest-badge {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.httptest-status-ok {
  background-color: #00AA00;
}

.httptest-status-problem {
  background-color: #DC0000;
}

.httptest-badge {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.triggers-row {
  padding: 4px;
  color: #FFFFFF;
}

.trigger-badge {
  word-break: break-all;
}

.trigger-priority-notclassified {
  background-color: #888888;
}

.trigger-priority-information {
  background-color: #2A9FD6;
}

.trigger-priority-warning {
  background-color: #FF8800;
}

.trigger-priority-average {
  background-color: #FF6666;
}

.trigger-priority-high {
  background-color: #FF3333;
}

.trigger-priority-disaster {
  background-color: #FF0000;
}

.trigger-status-ok {
  background-color: #00AA00;
}

.trigger-status-problem {
  background-color: #DC0000;
}
