.events-header {
	padding: 8px;
}

.events-row {
	padding: 4px;
	color: #FFFFFF;
}

.event-status-resolved {
	background-color: #00AA00;
}

.event-status-problem {
	background-color: #DC0000;
}

.httptests-header {
	padding: 8px;
}

.httptests-row {
	padding: 4px;
	color: #FFFFFF;
}

.httptest-status-ok {
	background-color: #00AA00;
}

.httptest-status-problem {
	background-color: #DC0000;
}

.httptest-alert {
	display: block;
}

.triggers-header {
	padding: 8px;
}

.triggers-row {
	padding: 4px;
	color: #FFFFFF;
}

.trigger-label {
	display: block;
}

.trigger-priority-notclassified {
	background-color: #888888;
}

.trigger-priority-information {
	background-color: #2A9FD6;
}

.trigger-priority-warning {
	background-color: #FF8800;
}

.trigger-priority-average {
	background-color: #FF6666;
}

.trigger-priority-high {
	background-color: #FF3333;
}

.trigger-priority-disaster {
	background-color: #FF0000;
}

.trigger-status-ok {
	background-color: #00AA00;
}

.trigger-status-problem {
	background-color: #DC0000;
}

.trigger-alert {
	display: block;
}

@media screen {
	.events-row, .httptests-row, .triggers-row {
		font-size: 18px;
	}

	.httptests-alert, .triggers-alert {
		font-size: 18px;
	}
}

@media screen and (max-width: 1200px) {
	.events-rows, .httptests-row, .triggers-row {
		font-size: 16px;
	}

	.httptests-alert, .triggers-alert {
		font-size: 16px;

	}
}

@media screen and (max-width: 992px) {
	.events-row, .httptests-row, .triggers-row {
		font-size: 14px;
	}
}

.hide-overflow
{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:block;
}
