var env = 'production';

var config = {  
  production: {
    debug: false,

    server: {
      url: 'https://zabbix.my.domain/api_jsonrpc.php',
      user: 'zabbix-monitor',
      password: 'secret123'
    },

    refresh: 30,

    alerts: {
      enable: true,
      showOnlyProblems: false
    },

    triggers: {
      status: 1,
      severity: 2,
      age: 1,
      sortField: 'priority',
      sortOrder: 'DESC',

      selectInMaintenance: false,
      selectWithUnacknowledgedEvents: false,
      selectWithAcknowledgedEvents: false,
      selectWithLastEventUnacknowledged: true,
      selectSkipDependent: true,
      selectMinimalSeverity: 0
    },

    events: {
      period: 3600,
      sortField: 'clock',
      sortOrder: 'DESC'
    },

    httptests: {
      sortField: 'name',
      sortOrder: 'ASC'
    }
  },

  development: {
    debug: true,

    server: {
      url: 'https://zabbix.my.domain/api_jsonrpc.php',
      user: 'zabbix-monitor',
      password: 'secret123'
    },

    refresh: 30,
    
    alerts: {
      enable: true,
      showOnlyProblems: false
    },

    triggers: {
      status: 1,
      severity: 2,
      age: 1,
      sortField: 'priority',
      sortOrder: 'DESC',

      selectInMaintenance: false,
      selectWithUnacknowledgedEvents: false,
      selectWithAcknowledgedEvents: false,
      selectWithLastEventUnacknowledged: true,
      selectSkipDependent: true,
      selectMinimalSeverity: 0
    },

    events: {
      period: 3600,
      sortField: 'clock',
      sortOrder: 'DESC'
    },

    httptests: {
      sortField: 'name',
      sortOrder: 'ASC'
    }
  }
};

module.exports = config[env];
