var env = 'production';

var config = {
  production: {
    refresh: 30,

    alerts: {
      enable: true,
      showOnlyProblems: false
    },

    triggers: {
      status: 1,
      severity: 2,
      age: 1,
      sortField: 'priority',
      sortOrder: 'DESC',
      selectInMaintenance: false,
      selectWithUnacknowledgedEvents: false,
      selectWithAcknowledgedEvents: false,
      selectWithLastEventUnacknowledged: true,
      selectSkipDependent: true,
      selectMinimalSeverity: 0,

      showHumanTimes: true
    },

    events: {
      period: 1,
      sortField: 'clock',
      sortOrder: 'DESC',

      showHumanTimes: false
    },

    httptests: {
      sortField: 'name',
      sortOrder: 'ASC',

      showHumanTimes: false
    }
  },

  development: {
    server: {
      url: 'https://zabbix.my.domain/api_jsonrpc.php',
      user: 'zabbix-monitor',
      password: 'secret123',
      options: {
        debug: true
      }
    },

    refresh: 30,

    alerts: {
      enable: true,
      showOnlyProblems: false
    },

    triggers: {
      status: 1,
      severity: 2,
      age: 24,
      sortField: 'priority',
      sortOrder: 'DESC',
      selectInMaintenance: false,
      selectWithUnacknowledgedEvents: false,
      selectWithAcknowledgedEvents: false,
      selectWithLastEventUnacknowledged: true,
      selectSkipDependent: true,
      selectMinimalSeverity: 0,

      showHumanTimes: true
    },

    events: {
      period: 1,
      sortField: 'clock',
      sortOrder: 'DESC',

      showHumanTimes: false
    },

    httptests: {
      sortField: 'name',
      sortOrder: 'ASC',

      showHumanTimes: false
    }
  }
};

module.exports = config[env];
